.feeds {
  flex: 0.5;
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */
  color: white;
}

hr {
  border: none;
  border-top: 0.1px solid rgb(54, 53, 53);
}

.showTweets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.showTweets > h4 {
  line-height: 20px;
  font-size: 15px;
  color: #1d9bf0;
  font-weight: 400;
}
