.newTweet {
  display: flex;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.newTweet_avatar {
  height: 50px !important;
  width: 50px !important;
  margin-right: 15px;
}

.tweet_areaContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tweet_area {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}

.input {
  width: 100%;
  font-size: 1.5em;
  color: gray;
  font-weight: 300;
  background: transparent;
  outline-width: 0;
  max-width: 40vw;
  max-height: 15vh;
  border: none;
  overflow: hidden;
}

.tweet_areaBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
  gap: 150px;
}
.tweet_areaIcons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  color: #1d9bf0;
}

.tweet_areaBottom > Button {
  background-color: #1a8cd9;
  color: white;
  padding: 10px;
  border-radius: 100px;
  text-align: center;
  width: 12vh;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
}

.tweet_areaButtom:hover > Button {
  background-color: #1a8cd9;
}
