.app_body {
  display: flex;
  flex: 0.8;
}
.line {
  height: 100vw;
  position: absolute;
  top: 0;
  width: 1vw;
  border: none;
  border-left: 0.1px solid rgb(54, 53, 53);
  z-index: 100;
}

.line1 {
  left: 20%;
}

.line2 {
  left: 70%;
}

@media (max-width: 1289px) {
  .line2 {
    display: none;
  }
  .line {
    height: 100vh;
  }
}
